---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Profile from '../components/Profile.astro';
import CareerList from '../components/CareerList.astro';
import Section from '../components/Section.astro';
import Etc from '../components/Etc.astro';
import { SECTION_LIST } from '../../app/constants/section-title';
---

<BaseLayout>
  <main class="w-full" style="font-family: 'Noto Sans', sans-serif;">
    <header class="flex flex-col items-center justify-center h-[80vh] min-h-full p-8 bg-white text-[#333] text-center relative w-full [&_a:hover]:text-[#005999] [&_a:focus]:outline-[#005999] [&_*::selection]:bg-[#005999] [&_*::selection]:text-white max-tablet:px-4 max-tablet:py-8">
      <Nav />
      <h1 class="text-[2.5rem] tracking-[1.2px] min-h-[2.5rem] mb-8 max-mobile:text-[1.6rem] max-mobile:mb-4 max-mobile:min-h-[1.6rem]" style="font-family: 'Give You Glory', cursive;"># hirofumi miyamoto</h1>
      <div>
        <p class="mb-4">hi everyone! i am hrfmmymt.</p>
        <p class="mb-4">i'm always goofing off on the internet.</p>
        <p>scroll down slowly and see.</p>
      </div>
    </header>
    <Section id={SECTION_LIST.PROFILE} title={SECTION_LIST.PROFILE}>
      <Profile />
    </Section>
    <Section className={SECTION_LIST.CAREER} id={SECTION_LIST.CAREER} title={SECTION_LIST.CAREER}>
      <CareerList />
    </Section>
    <Section className={SECTION_LIST.ETC} id={SECTION_LIST.ETC} title={SECTION_LIST.ETC_PERIOD}>
      <Etc />
    </Section>
  </main>
</BaseLayout>
