---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Profile from '../components/Profile.astro';
import CareerList from '../components/CareerList.astro';
import Section from '../components/Section.astro';
import Etc from '../components/Etc.astro';
import { SECTION_LIST } from '../../app/constants/section-title';
import styles from '../../app/styles/Index.module.css';
---

<BaseLayout>
  <main class={styles.main} style="font-family: 'Noto Sans', sans-serif;">
    <header class={styles.header}>
      <Nav />
      <h1 style="font-family: 'Give You Glory', cursive;"># hirofumi miyamoto</h1>
      <div>
        <p>hi everyone! i am hrfmmymt.</p>
        <p>i'm always goofing off on the internet.</p>
        <p>scroll down slowly and see.</p>
      </div>
    </header>
    <Section id={SECTION_LIST.PROFILE} title={SECTION_LIST.PROFILE}>
      <Profile />
    </Section>
    <Section className={SECTION_LIST.CAREER} id={SECTION_LIST.CAREER} title={SECTION_LIST.CAREER}>
      <CareerList />
    </Section>
    <Section className={SECTION_LIST.ETC} id={SECTION_LIST.ETC} title={SECTION_LIST.ETC_PERIOD}>
      <Etc />
    </Section>
  </main>
</BaseLayout>
