---
import Image from '../shims/next/image';
import Link from '../shims/next/link';
import { etcList } from '../../app/constants/etc-list';
import styles from '../../app/components/Etc.module.css';

const currentYear = new Date().getFullYear();
---

<ul class={styles.list}>
  {etcList.map((item) => (
    <li>
      <Link
        className={`${styles.link} ${styles[item.className]}`}
        href={item.href}
        rel="noopener noreferrer"
        target="_blank"
      >
        <Image
          alt={''}
          height={26}
          src={`/img/etc/${item.className}.svg`}
          style={{
            width: '26px',
            height: '26px',
          }}
          width={26}
        />
        <span>{item.label}</span>
      </Link>
    </li>
  ))}
</ul>
<footer>
  <p class={styles.copyright}>
    © {currentYear} <Link
      className={styles.copyrightLink}
      href="https://hrfmmymt.github.io"
      rel="noopener noreferrer"
      target="_blank"
    >
      hirofumi miyamoto
    </Link>. All rights reserved.
  </p>
</footer>
