---
import Image from '../shims/next/image';
import styles from '../../app/components/Profile.module.css';
---

<Image
  priority
  alt="profile image"
  className={styles.profileImage}
  height={405}
  src="/img/profile/profile_l.jpg"
  style={{
    width: '100%',
    height: 'auto',
  }}
  width={720}
/>
<ul class={styles.list}>
  <li class={styles.listItem}>
    <h3>### about</h3>
    <ul>
      <li class={styles.childListItem}>japanese web [ developer | designer ]</li>
    </ul>
  </li>
  <li class={styles.listItem}>
    <h3>### bio</h3>
    <ul class={styles.childList}>
      <li>
        <h4>#### id</h4>
        <ul>
          <li class={styles.childListItem}>hrfmmymt</li>
        </ul>
      </li>
      <li>
        <h4>#### location</h4>
        <ul>
          <li class={styles.childListItem}>tokyo, jp</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
