---
import type { SectionId, SectionTitle } from '../../app/constants/section-title';
import styles from '../../app/components/Section.module.css';

interface Props {
  className?: string;
  id: SectionId;
  title: SectionTitle;
}

const { id, title, className } = Astro.props;
const sectionClass = className ? `${styles.section} ${styles[className]}` : styles.section;
---

<section class={sectionClass} id={id}>
  <h2 class={styles.title}>## {title}</h2>
  <slot />
</section>
